<template is="dom-bind" id="app">
  <section class="header">
    <article class="header__imageWrap">
      <global-menu></global-menu>
      <div class="aboutSection pageBound pad">
        <header>
          <h2 class="sectionHead fadeInDown animated">A Little about me...</h2>
        </header>
        <div class="contentItem col--12-12-sm col--8-12 pad">
          <h3 class="contentItem__head contentItem__head--large fadeInDown animated">I specialize in front end design/development, flawless code, and standards compliant websites and applications.</h3>
          <p class="fadeInDown animated">I’ve been creating websites and applications in the Atlanta Area for about 12 years now. I strive to make every site I make not only visually appealing, but useable and engaging for everyone that sees it. You can rest assured that the final product I deliver will be scalable so that as your business grows, your site can too.</p>
        
          <h4 class="contentItem__head fadeInUp animated">My Background</h4>
          <p class="fadeInUp animated">I'm a web designer/front-end developer residing in Atlanta, Georgia with my wife and three daughters. I have been building websites and front end applications for over a decade and I think I'm getting pretty good at it.

          <h4 class="contentItem__head fadeInUp animated">Where I've Been</h4>
          <p class="fadeInUp animated">I started designing websites professionally in 2000 at Fidelity National Information Solutions. While at Fidelity, I designed real estate websites for RE/MAX, Keller Williams, Realty Executives, and Century 21. After leaving Fidelity in 2004, I went the agency route and worked on some really cool projects for various clients around Atlanta. After a brief stint as a contractor I was offered an amazing opportunity to come work as a front-end developer on WebMD's strategic initiatives team, and ultimately settled in to lead the mobile web development team. I left WebMD in 2012 and I am now a front end lead at The Home Depot, where I get to enjoy the break neck pace of online retail selling LOTS of hammers and nails.</p>
        </div>
        <div class="contentItem--highlighted col--12-12-sm col--4-12 fadeInRight animated">
          <div class="col--12-12-xs col--6-12-sm col-12-12 pad">
            <h4 class="contentItem__head">Expertise</h4>
            <ul class="contentItem__list">
              <li class="contentItem__item">Web Application Architecture</li>
              <li class="contentItem__item">Web Standards</li>
              <li class="contentItem__item">Social Media Integration/Advertising</li>
              <li class="contentItem__item">Usability</li>
              <li class="contentItem__item">Search Engine Optimization</li>
              <li class="contentItem__item">Content Management</li>
            </ul>
          </div>
          <div class="col--12-12-xs col--6-12-sm col-12-12 pad">
            <h4 class="contentItem__head">Technologies</h4>
            <ul class="contentItem__list">
              <li class="contentItem__item">HTML</li>
              <li class="contentItem__item">CSS</li>
              <li class="contentItem__item">Javascript (both "native" and just about any library you can throw at me)</li>
              <li class="contentItem__item">php</li>
            <ul class="contentItem__list">
          </div>
        </div>
      </div>
    </article>
  </section>
  <section class="content">
    <work-spotlight></work-spotlight>
  </section>
</template>