<template is="dom-bind" id="app">
  <section class="header">
    <article class="header__imageWrap">
      <global-menu></global-menu>
      <div class="contactSection pageBound pad">
        <header>
          <h2 class="sectionHead fadeInDown animated">Make that hotline bling...</h2>
        </header>
        <div class="contentItem contentItem--left">
          <h3 class="contentItem__head contentItem__head--large fadeInDown animated">I'm currently not taking on any freelance work but I'm always eager to hear from my sites' viewers. If you have any general questions feel free to use the form below.</h3>
          <h4 class="contentItem__head fadeInDown animated">(If you are an SEO expert soliciting your services: you found me. Now move along.)</h4>
          <contact-form></contact-form>
        </div>
        <div class="contentItem--highlighted contentItem--right fadeInRight animated">
          <h4 class="contentItem__head">Stomping Ground:</h4>
          <ul class="contentItem__list">
            <li class="contentItem__item"><a id="li" href="http://www.linkedin.com/in/brentayers" target="_blank">linkedin</a></li>
            <li class="contentItem__item"><a id="fb" href="http://www.facebook.com/gravitron07" target="_blank">FB</a></li>
            <li class="contentItem__item"><a id="flickr" href="http://www.flickr.com/photos/gravitron/" target="_blank">flickr</a></li>
          </ul>
        </div>
      </div>
    </article>
  </section>
  <section class="content">
    <work-spotlight></work-spotlight>
  </section>
</template>