.header{
	background: #202129;
	padding: 0 0 25px 0;
	color: #fff;
}
.header:after {
	content: "";
	display: table;
	clear: both;
}
.header--fixed{
	position:relative;
	color: #fff;
}
.header--fixed:before {
	content: "";
	padding-top: 48%;
	display: block;
	/*background: url("../images/bulb.jpg") fixed;
	background-size: 100%;*/
	background: #202129;
}
.header__imageWrap--fixed{
	position: fixed;
	min-width: 288px;
	min-height: 316px;
	width: 100%;
	top: 0;
	left: 0;
}
