html, body{
	background: #fff;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

 a{
    color: #fff;
}

p{
    line-height: 1.4rem;
}

.pageBound{
	max-width:1290px;
	margin: 0 auto;
	text-align: left;
}
.content{
	position: relative;
	background-color: #fff;
	padding: 30px 16px 0;
	-webkit-transform: translateZ(1px);
}


@font-face {
  font-family: 'Andada-Regular';
  src: url('../fonts/Andada-Regular.eot?#iefix') format('../fonts/embedded-opentype'),  url('../fonts/Andada-Regular.otf')  format('opentype'),
	     url('../fonts/Andada-Regular.woff') format('woff'), url('../fonts/Andada-Regular.ttf')  format('truetype'), url('../fonts/Andada-Regular.svg#Andada-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.sectionHead{
	margin: 10px 0;
	padding: 0;
	font-weight: normal;
	font-family: 'Andada-Regular';
	font-size: 2rem;
	color: #67bf6f;
}


.contentItem__list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.contentItem__item{
    position: relative;
    padding: 0 0 0 26px;
    line-height: 30px;
}
.contentItem__item::after{
    background: #67bf6f;
    width: 15px;
    height: 15px;
    content: " ";
    display: block;
    border-radius: 3px;
    left: 0;
    top: 8px;
    position: absolute;
    z-index: 1;
}
.contentItem__item::before{
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    width: 12px;
    height: 4px;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    content: " ";
    display: block;
    left: 2px;
    top: 8px;
    position: absolute;
    z-index: 2;
    box-shadow: 2px 2px #202129;
}
.contentItem__head{
    margin: 10px 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Andada-Regular';
    font-size: 1.5rem;
    color: #fff;
}
.contentItem__head--large{
    font-size: 3rem;
}
.contentItem--highlighted{
    background: #272831;
    border-radius: 5px;
}
@media only screen and (max-width: 641px) {
    .contentItem__head{
        font-size: 1.25rem;
    }
    .contentItem__head--large{
        font-size: 1.75rem;
    }
}
body /deep/ .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
body /deep/ .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
body /deep/ .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
body /deep/ .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight
}